/* --------------------------------------------------------------------------- */
/* CSS Custom Properties */
/* --------------------------------------------------------------------------- */

:root {
   /* Colors */
   --color-white: rgb(255, 255, 255);
   --color-white-200: rgb(238, 233, 233);

   --color-black: rgb(8, 8, 8);

   --color-darker-gray: rgb(34, 34, 34);
   --color-lighter-gray: rgb(136, 136, 136);

   /* Font Family */
   --ff-primary: 'Open Sans', sans-serif;
   --ff-secondary: 'Lato', sans-serif;

   /* Font Sizes */
   --fs-14: 0.875rem;
   --fs-15: 0.9375rem;
   --fs-16: 1rem;
   --fs-18: 1.125rem;
   --fs-20: 1.25rem;
   --fs-22: 1.375rem;
   --fs-25: 1.5625rem;
   --fs-30: 1.875rem;
   --fs-35: 2.1875rem;

   /* Setting font sizes for screen sizes 320px and above */
   --fs-body: var(--fs-16);
   --fs-heading-1: var(--fs-30);
   --fs-heading-2: var(--fs-25);
   --fs-heading-3: var(--fs-18);
}

/* Setting font sizes for screen sizes 960px and above */
@media (min-width: 60em) {
   :root {
      --fs-heading-1: var(--fs-35);
      --fs-heading-3: var(--fs-20);
   }
}

/* --------------------------------------------------------------------------- */
/* CSS Reset */
/* --------------------------------------------------------------------------- */

/* Box sizing rules */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

/* Remove default margin and padding */
* {
   margin: 0;
   padding: 0;
}

/* Set core root defaults */
html {
   scroll-behavior: smooth;
}

/* Set core body defaults */
body {
   min-height: 100vh;
   line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
figure,
svg {
   display: block;
   max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* Added to body. This makes transitions only after page load. Later removed using JS */
.preload * {
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
   transition: none !important;
 }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
  }
  
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* --------------------------------------------------------------------------- */
/* Ultility Classes */
/* --------------------------------------------------------------------------- */

.container {
   display: grid;
   grid-template-rows: repeat(2, auto);
   grid-template-columns: 100%;
   overflow: hidden;
}

.column {
   display: grid;
   justify-content: center;
   align-items: center;
}

.column__left {
   background-color: rgba(38, 120, 113, 0.95);
   background-image: linear-gradient(to right, rgba(19, 106, 138, 0.95), rgba(38, 120, 113, 0.95)),
                     url(../images/bg.jpg);
   background-position: center;
   background-size: cover;
   padding-top: calc(150rem / 16);
   padding-bottom: calc(50rem / 16);
}

.column__right {
   background-image: linear-gradient(to right, rgb(5, 5, 5), rgb(8, 8, 8));
   padding-block: calc(80rem / 16) calc(70rem / 16);
}

.overlay {
   position: absolute;
   inset: 0;
   background-color: rgba(0,0,0,0.7);
   height: 100%;
   width: 100%;
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s;
}

.overlay--active {
   opacity: 1;
   pointer-events: all;
}

.sr-only {
   border-width: 0 !important;
   clip: rect(1px, 1px, 1px, 1px) !important;
   height: 1px !important;
   overflow: hidden !important;
   padding: 0 !important;
   position: absolute !important;
   white-space: nowrap !important;
   width: 1px !important;
 }

@media (min-width: 60em) {
   .container {
      grid-template-rows: 100%;
      grid-template-columns: repeat(2, 1fr);
   }

   .column {
      min-height: 100vh;
   }

   .column__left {
      padding-bottom: calc(20rem / 16);
   }

   .column__right {
      padding-block: calc(150rem / 16) calc(20rem / 16);
   }
}

/* --------------------------------------------------------------------------- */
/* General Styles */
/* --------------------------------------------------------------------------- */

body {
   color: var(--color-white-200);
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   font-weight: 400;
}

/* Skip to main content link */ 
.skip-to-main-content {
   color: var(--color-white);
   background-color: var(--color-black);
   position: absolute;
   top: 0;
   left: 0.5rem;
   padding: 1em;
   z-index: 999;
   transform: translateY(-120%);
   opacity: 0;
   transition: all 0.3s;
}

.skip-to-main-content:focus {
   transform: translateY(0);
   opacity: 1;
}

/* Link */
.link:link,
.link:visited {
   color: var(--color-white);
}

.link:active,
.link:hover {
   text-decoration: none;
}

/* Form Elements */
.label,
.input,
.textarea {
   font-family: inherit;
   display: block;
   width: 100%;
}

.label {
   margin-bottom: 0.3em;
}

.input,
.textarea {
   font-size: var(--fs-14);
   padding: 0.6em;
   margin-bottom: 1em;
   border: 1px solid var(--color-lighter-gray);
   outline: 0;
}

/* --------------------------------------------------------------------------- */
/* Typography */
/* --------------------------------------------------------------------------- */

.heading-1,
.heading-2,
.heading-3 {
   font-family: var(--ff-secondary);
   font-weight: 400;
}

.heading-1 {
   font-size: var(--fs-heading-1);
   color: var(--color-white);
}

.heading-2 {
   font-size: var(--fs-heading-2);
}

.heading-3 {
   font-size: var(--fs-heading-3);
}

/* --------------------------------------------------------------------------- */
/* Button */
/* --------------------------------------------------------------------------- */

.btn {
   background-color: transparent;
   border: none;
   display: inline-block;
   color: var(--color-white);
   font-size: var(--fs-15);
   line-height: 0.5;
   text-transform: capitalize;
   padding: 0.9em 1em;
   border: 1px solid var(--color-white);
   border-radius: 0.15em;
   cursor: pointer;
   transition: all 0.3s;
}

.btn span {
   display: none;
}

.btn:hover {
   background-color: var(--color-white);
   color: var(--color-black);
}

.btn__black {
   color: var(--color-darker-gray);
   margin-block: 1em;
   padding: 0.9em 1.4em;
   border: 1px solid var(--color-darker-gray);
}

.btn__black:hover {
   background-color: var(--color-darker-gray);
   color: var(--color-white);
}

@media (min-width: 30em) {
   .btn {
      font-size: var(--fs-16);
      padding: 1.1em 1.3em;
   }

   .btn span {
      display: inline;
   }
}

/* --------------------------------------------------------------------------- */
/* Header */
/* --------------------------------------------------------------------------- */

.header {
   position: absolute;
   top: 0;
   left: 0;
   height: calc(120rem / 16);
   width: 100%;
}

.header__wrapper {
   height: 100%;
   width: min(calc(1200rem / 16), (100% - 2em));
   margin-inline: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: calc(160rem / 16);
}

@media (min-width: 30em) {
   .logo {
      width: calc(175rem / 16);
   }
}

@media (min-width: 60em) {
   .logo {
      width: calc(180rem / 16);
      margin-left: 1.5em;
   }
}

/* --------------------------------------------------------------------------- */
/* Social Media */
/* --------------------------------------------------------------------------- */

.social-media {
   display: none;
   gap: 2em;
}

.social-media__icon {
   width: calc(20rem / 16);
   transform: scale(1);
   transition: all 0.2s;
}

.social-media__icon:hover {
   transform: scale(1.1);
}

@media (min-width: 60em) {
   .social-media {
      display: flex;
   }
}

/* --------------------------------------------------------------------------- */
/* Hero Section */
/* --------------------------------------------------------------------------- */

.hero {
   max-width: calc(525rem / 16);
   width: calc(100% - 3em);
   margin-inline: auto;
   padding-block: 2em;
}

.hero__text {
   font-size: var(--fs-22);
   font-weight: 400;
   text-transform: capitalize;
}

.hero__heading {
   margin-block: 0.4em 0.7em;
}

.hero__heading span {
   font-weight: 400;
}

.hero__content {
   line-height: 1.8;
}

/* --------------------------------------------------------------------------- */
/* Countdown */
/* --------------------------------------------------------------------------- */

.countdown {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(2, 1fr);
   margin-top: 2.5em;
   text-align: center;
}

.countdown__content {
   font-size: var(--fs-35);
   font-weight: 600;
   display: flex;
   flex-direction: column;
}

.countdown__content span {
   font-size: var(--fs-18);
   font-weight: 400;
   color: var(--color-white-200);
}

@media (min-width: 30em) {
   .countdown {
      grid-template-rows: 100%;
      grid-template-columns: repeat(4, 1fr);
      margin-block: 3.5em;
      text-align: left;
   }
}

/* --------------------------------------------------------------------------- */
/* Portfolio Section */
/* --------------------------------------------------------------------------- */

.portfolio__heading {
   text-align: center;
   margin-bottom: 1em;
}

/* --------------------------------------------------------------------------- */
/* Portfolio Slider */
/* --------------------------------------------------------------------------- */

.portfolio-slider {
   padding-block: 1em;
   max-width: calc(375rem / 16);
   width: calc(100% - 3em);
   margin-inline: auto;
   position: relative;
}

.portfolio-slider__image-box {
   background-color: var(--color-black);
   padding: 1em 1em 2.5em;
   border: 2px solid #ccc;
   border-radius: 0.75em;
}

.portfolio-slider__card {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 0.8em;
   padding-block: 1.5em;
   padding-inline: 0;
}

.portfolio-slider__links {
   width: calc(110rem / 16);
   text-align: right;
}

.portfolio-slider__link {
   font-size: var(--fs-14);
}

/* Slider Arrows */
.portfolio-slider__arrows {
   position: absolute;
   bottom: 25%;
   z-index: 100;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding-inline: 1em;
}

.portfolio-slider__arrow {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.portfolio-slider__arrow svg {
   fill: var(--color-white);
}

.portfolio-slider__prev {
   transform: translateY(-0.75em) rotate(180deg);
   margin-right: 4.25em;
}

/* Slider Index */
.portfolio-slider__index {
   position: absolute;
   bottom: 29.5%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 100;
}

@media (min-width: 30em) {
   .portfolio-slider {
      max-width: calc(475rem / 16);
      width: calc(100% - 1em);
   }

   .portfolio-slider__card {
      padding-inline: 0.5em;
      margin-inline: auto;
   }

   .portfolio-slider__link {
      font-size: var(--fs-15);
   }

   .portfolio-slider__arrows {
      bottom: 20.5%;
   }

   .portfolio-slider__index {
      bottom: 23.5%;
   }
}

/* --------------------------------------------------------------------------- */
/* Footer */
/* --------------------------------------------------------------------------- */

.footer {
   background-image: linear-gradient(to right, rgb(5, 5, 5), rgb(8, 8, 8));
   width: 100%;
   padding: 1.5em 1em;
   border-top: 1px solid #ccc;
   font-size: var(--fs-14);
}

@media (min-width: 60em) {
   .footer {
      display: none;
   }
}

/* --------------------------------------------------------------------------- */
/* Social Media (Footer) */
/* --------------------------------------------------------------------------- */

.footer__social-media {
   display: flex;
   justify-content: center;
   gap: 0.7em;
}

.footer__item:not(:last-child)::after {
   content: '|';
   margin-left: 0.5em;
}

/* --------------------------------------------------------------------------- */
/* Contact Form */
/* --------------------------------------------------------------------------- */

.contact {
   position: fixed;
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
   max-width: calc(450rem / 16);
   overflow-y: auto;
   z-index: 100;
   transform: translateX(100%);
   visibility: hidden;
   transition: all 0.5s;
}

.white-box {
   color: var(--color-darker-gray);
   background-color: var(--color-white);
   padding: 1.8em 2em;
   box-shadow: 0 0 1.5em 0.6em rgba(0,0,0,0.15);
}

.contact[data-show-form="true"] {
   transform: translateX(0);
   visibility: visible;
}

.icon-close {
   position: absolute;
   top: 47px;
   right: 39px;
   font-size: calc(35rem / 16);
   font-weight: 400;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.contact__heading {
   margin-block: 1em;
}

.contact__success,
.contact__error {
   font-size: var(--fs-15);
   padding: 1em;
   margin-block: 0.75em;
   display: none;
}

.contact__success {
   background-color: rgba(0, 128, 0, 0.3);
}

.contact__error {
   background-color: rgba(255, 0, 0, 0.3);
}

.contact__hidden {
   display: none;
   visibility: hidden;
   opacity: none;
}